/* Reset default margin and padding */
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    width: 90%;
    margin: 20px auto;
    max-width: 1200px;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
}

.nav-link.btn {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-link.btn:hover {
    color: #dc3545;
}

/* Style for alerts */
.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
}

/* Additional styles for larger screens */
@media (min-width: 768px) {
    .container {
        width: 80%;
    }

    nav ul li {
        margin-left: 20px;
    }
}

/* Container styles */
.dashboard-container,
.add-expense-container,
.edit-expense-container,
.register-container,
.login-container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
.register-container h2,
.login-container h2,
.dashboard-container h2,
.add-expense-container h2,
.edit-expense-container h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
    text-align: center;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="number"] {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Button styles */
.btn-primary,
.btn-danger{
    display: block;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
}

.outer-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    text-align: center;
}

.btn-primary:hover,
.btn-danger:hover,
.outer-btn:hover {
    background-color: #0056b3;
}

/* Paragraph styles */
p {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border-bottom: 1;
    text-align
}

td a {
    text-decoration: none;
}