{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username(class="form-control", placeholder="Username") }}
            </div>
            <div class="form-group">
                {{ form.password(class="form-control", placeholder="Password") }}
            </div>
            <button type="submit" class="outer-btn">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </div>
{% endblock %}
